page-login {
    .logo {
        display: block;
        margin: auto;
        width: 50%;
        margin-top: 4vh;
        border: 8px;
        border-style: groove;
    }
    .label{
        background-color: #000507; 
        opacity:0.8;
        color: white;
    }
}
