/*
Author: Omu Oreva David
Last Modified: 04/24/2018
path:"/src/pages/app/app.scss"
*/

@font-face{
    font-family: PTSans;
    src: url('../assets/fonts/PTSans.woff2') format('woff2')
}
*{
    font-family: PTSans;
}